<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>t</key>
			<string>邮寄需要我做些什么呢?</string>
			<key>d</key>
			<string>请您在寄出之前自行包装好，在盒子里放入一张纸条，在纸条上注明提交回收订单填写的手机号和订单号，机器寄出之后进入订单中心填写下快递单号。 同时需自行确保已对物品内的重要资料进行了备份和清除(包括但不限于通讯录、信息、聊天软件的账号用户名、密码、聊天记录、照片、视频、音频等)，并且解除机器的账号密码(如Icloud或Flyme等)，链旧支持顺丰到付的邮寄方式。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>物品邮寄后快递单在哪里填写?</string>
			<key>d</key>
			<string>在首页点击【个人中心】-登录后进入【快递回收】订单，在订单列表对应订单处点击【发货】，进入后可以填写快递单号</string>
		</dict>
		<dict>
			<key>t</key>
			<string>提交订单多长时间邮寄过去?</string>
			<key>d</key>
			<string>建议您可以在提交回收订单之后寄出，订单有效期为7天，寄出之后请您进入我们网站填写下快递单号，如超过7天未填写快递单号，系统会自动取消订单。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>快递怎么进行包装?</string>
			<key>d</key>
			<string>您可以在邮寄的时候把您的机器放在盒子中，然后放些避震的泡沫塑料或者报纸，这样可以防止机器邮寄时候由于颠簸造成损伤。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>快递运费承担多少?</string>
			<key>d</key>
			<string>链旧支持顺丰到付(运费最高承担40元，无人机最高承担65元，超出部分、保价费、包装费、山寨机、高仿机需自行承担)。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>多少时间可以拿到钱?</string>
			<key>d</key>
			<string>我们收到机器后48小时内会进行检测，检测没有问题的话，会按照网上报价在24小时内进行放款，如果检测有问题的话，会有工作人员先和您确认联系的。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>检测出机器情况与提交订单填写不同如何处理?</string>
			<key>d</key>
			<string>如果检测的结果与您选择的情况不一致，我们会有二次报价给到您，会有工作人员和您联系的。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>不能选择其他快递吗?</string>
			<key>d</key>
			<string>暂时不可支持其他快递。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>物流订单有效期是多久?</string>
			<key>d</key>
			<string>您选择邮寄交易方式，应在提交订单后尽快将物品邮寄至链旧指定地址并在订单中填写快递单号。若您未及时寄出物品和填写快递单号会导致订单超期取消(订单有效期7天，价格有效期7天)。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>申请退货后，多久将机器快递退出?</string>
			<key>d</key>
			<string>您申请退货后2个工作日内，我们会将机器邮寄退出，退出后会将退货物流单号以短信形式发送到您提交订单时的手机号码上。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>机器寄出后如何保证我的利益?</string>
			<key>d</key>
			<string>链旧是和公安联网的，交易中有涉及欺诈交易的我们会在第一时间通过网络进行报案。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>什么情况链旧会拒收快递包裹?</string>
			<key>d</key>
			<string>链旧工作人员会当场拆包验货，如发现脏机、空包、并非我们回收品类等会进行拒收。来回运费需用户自行承担。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>快递回收需要配件吗?</string>
			<key>d</key>
			<string>全新机器：需包装盒及盒内所有配件，且配件未使用。
　　非全新机：手机、平板、相机需要电池;笔记本：电池、电源适配器、触控笔、可拆卸键盘;苹果手表：充电线、原装表带。
以上配件若未提供，可能会影响回收价格。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>t</key>
			<string>在链旧工作人员进行当面回收，需提前注意什么?</string>
			<key>d</key>
			<string>1.顾客需年满18岁; 2.顾客在交易的时候，需提供中华人民共和国第二代居民身份证(护照和驾驶证等不可使用); 3.电子产品(手机、笔记本、平板等)在交易前请提前充好电。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>上门人员工作时间是什么时候?</string>
			<key>d</key>
			<string>我们上门人员工作时间是9:00-21:00。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>提交订单最快什么时候可以上门?</string>
			<key>d</key>
			<string>当日21点之前提交回收订单，最快安排第当天工作人员联系，21点之后提交最快是第二天工作人员联系。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>t</key>
			<string>关于手机数据隐私的保护</string>
			<key>d</key>
			<string>请您务必在维修前备份手机数据(如电话簿，短信，APP应用，照片等)，链旧不承担有故障手机在维修过程中因数据丢失而造成的任何损失及责任。当然，工程师在维修过程中也不会去删除您的数据，但是有故障手机在维修过程中有丢失数据的风险。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>质保政策</string>
			<key>d</key>
			<string>您的手机经链旧修复以后，所换的零配件提供180天(国家的手机三包规定是90天)的保修。在保修期内，私自拆修，再次人为损坏，或者出现其他器件的故障，链旧不提供免费处理。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>零配件来源和品质说明</string>
			<key>d</key>
			<string>关于零配件的来源：通过在零配件市场采购，在经过多次品质检测，筛选出原厂品质的零配件。更换后的配件提供180天的质保(国家的手机三包规定是90天)。
　　关于零配件的品质：链旧提供原厂品质零配件。原厂品质是指零配件制作的工艺和流程、使用的材料，等同于原厂，不是指具有厂家的相关授权证明。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>维修时长</string>
			<key>d</key>
			<string>工程师到达指定地点以后，一般维修的时长是30分钟。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>维修价格</string>
			<key>d</key>
			<string>每个订单的价格已经包含配件、人工、物流、税费、运营等相关成本，也包含部分解决方案是坏件对换好件的费用。订单的价格会根据配件市场价格的波动而变化，请以提交订单时的价格为准。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>关于回收坏的零配件</string>
			<key>d</key>
			<string>维修方案中如果提示的是“对换”的，是指要收回换下来的旧配件，如果您不同意对换，请另补差价。订单完成以后，换下的旧零件所有权归链旧，链旧将集中进行处理。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>维修后厂家还提供后期的维修服务吗?</string>
			<key>d</key>
			<string>按照手机生产厂家规定，所有手机在第三方的服务商维修过之后，厂家有可能不提供后期的维修服务。如果你选择我们的上门快修服务，也有同样的风险。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>质保说明</string>
			<key>d</key>
			<string>修复以后的手机实行以下保修政策：
　　1. 从维修完成之日起180天内，所更换零配件出现质量问题，哐叽负责免费更换。
　　2. 以下情况哐叽不负责免费服务：
　　1)维修后又发生了人为因素(外力摔坏、入液等)导致的损坏的;
　　2)在其他维修商拆修过的;
　　3)修好后的手机使用过程中又出现其他元器件故障的。
　　3. 您的手机维修过以后，在保修期内如果出现故障，可以拨打客服电话进行报修，我们的工程师会联系您进行处理。</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>t</key>
			<string>回收收款方式</string>
			<key>d</key>
			<string>收款方式仅限于链旧钱包，回收成功后，回收款将添加到链旧钱包余额中，用户可对余额进行提现。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>链旧钱包提现方式有哪些?</string>
			<key>d</key>
			<string>链旧钱包可进行银行卡提现方式、微信账号和支付宝提现方式。具体的提现方式在个人中-链旧钱包-提现中进行查看。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>提现申请后多久可以到账?</string>
			<key>d</key>
			<string>微信提现至微信零钱即时到账，银行卡提现一般在1至2个工作日内到账。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>提现申请后，可以取消吗?</string>
			<key>d</key>
			<string>目前不支持申请提现成功后取消提现。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>为什么会提现失败</string>
			<key>d</key>
			<string>1.提现至银行卡时，已绑定的银行卡信息有误(持卡人姓名与实名认证姓名不一致，银行卡卡号与选择的开户银行不对应);2.使用微信提现，但并未在微信平台进行实名认证，从而提现金额受到限制导致提现失败。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>为什么要进行实名认证?</string>
			<key>d</key>
			<string>根据《非金融机构支付服务管理办法》、《支付机构反洗钱和反融资管理办法》及《非银行支付机构网络支付业务管理办法》的相关要求，为防范支付风险、保护当事人合法权益，用户需要对帐户进行实名认证。为了确保每个用户账户的资金安全，我们必须对每个提现账户进行认证后方可提现。</string>
		</dict>
		<dict>
			<key>t</key>
			<string>未进行实名认证会有什么影响?</string>
			<key>d</key>
			<string>未进行实名认证的用户，钱包里的余额将无法通过银行卡提现。</string>
		</dict>
	</array>
</array>
</plist>
